<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>web app</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css">
    <link rel="stylesheet" href="https://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.css">

    <style>

    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 120%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

body {
  background-repeat: no-repeat;
  background-size: 102% 176%;
  /*
    background-image: url('https://scstylecaster.files.wordpress.com/2014/09/road-trip.png');

  // background-image: url('https://ksenvironmental.com.au/wp-content/uploads/2017/04/iStock-482020686.jpg');

  background-image: url('https://imghtlak.mmtcdn.com/blog/sites/default/files/road-trip-las-vegas-to-nevada.jpg');
*/
}

    </style>
</head>


<body>





<div class="container">
  <div class="col-lg-4">

    <div id='calendar' style="margin-right: 20%;margin-top: 40%;margin-left: -30%;"></div>

  </div>


  <div class="col-lg-4">

    <div class="jumbotron text-center" style="margin-top: 40%;">
      <h3>Home</h3>

      <div class="row" style="padding-bottom: 10%;">
        <button type="button" id="share_ride" class="btn btn-primary btn-lg">Share Ride</button>
      </div>
        <div class="row" style="padding-bottom: 10%;">
      <button type="button" id="search_ride"  class="btn btn-primary btn-lg">Search Ride</button>
        </div>
          <div class="row" style="padding-bottom: 10%;">

      <button type="button" id="notification" class="btn btn-primary btn-lg">Notification</button>
        </div>


      </div>
  </div>
    <div class="col-lg-4">

      <div class="col-lg-4" id="notificationlist" style="width: 103%;margin-top: 40%;margin-left: 5%;">

          <table id="notificationtable">

             <thead>
            <tr>
                <th>Notification</th>

            </tr>
          </thead>
          <tbody>
          </tbody>



      </table>


        </div>




    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js"></script>
    <script src="https://fullcalendar.io/js/fullcalendar-2.2.5/lib/moment.min.js"></script>
    <script src="https://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.min.js"></script>


    <script type="text/javascript">



        $(document).ready(function(){

          $("#share_ride").click(function(){

            //alert(localStorage.getItem("login_name"));

            $.ajax({
              type: 'GET',
              url: '/shareride',
              success: function(data){
                //do something with the data via front-end framework
                //location.reload();
                //renderHtml(data);

                window.location.pathname="/shareride"
              }
            });

            return false;
          });

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//html navigation


              $("#search_ride").click(function(){

                $.ajax({
                  type: 'GET',
                  url: '/searchride',
                  success: function(data){
                    //do something with the data via front-end framework
                    //location.reload();
                    //renderHtml(data);

                    window.location.pathname="/searchride"
                  }
                });

                return false;
                });



//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



          $("#notification").click(function(){

            var requestername=localStorage.getItem("login_name");

            var obj={requestername:requestername};

            $.ajax({
              type: 'POST',
              url: '/check_notification',
              data: obj,
              success: function(data){
                //do something with the data via front-end framework
                //location.reload();

                console.log(data);

                var notification_data = data;


                var events_new=[];
                var event_obj ={};



                for(var i = 0 ;i<notification_data.length;i++){

                  if(notification_data[i]!=null)
                  {
                    var ownername = notification_data[i].ownername;
                    var requestername = notification_data[i].requestername;
                    var source = notification_data[i].source;
                    var destination = notification_data[i].destination;

                    var temp = ownername+" accepted your request from "+source+" to "+destination;
                    tData="<tr><td>"+temp+"</td></tr>"
                    //var tData = "<tr><td>"+title+"</td><td>"+ingredients+"</td></tr>"
                    $("#notificationtable").append(tData);

                      var str_title = notification_data[i].source +" to "+notification_data[i].destination;

                      if(data[i].dateandtime)
                      {
                        var str_date = data[i].dateandtime;

                        var event_obj = { title:str_title,start:str_date };

                        events_new.push(event_obj);
                      }
                  }



                }

                $('#calendar').fullCalendar('addEventSource', events_new);


               }
            });

////////////////////////////////////////////////////////////////////////////////////

//var events = [{title: 'Happy Hour',start: '2017-11-04'}];
//   var events = [
//   {
//     title: 'All Day Event',
//     start: '2017-11-01'
//   },
//   {
//     title: 'Long Event',
//     start: '2017-11-07',
//
//   },
//   {title: 'Happy Hour',start: '2017-11-04'}
//
// ];

// $('#calendar').fullCalendar('addEventSource', events);

            return false;
          });
/////////////////////////////////////////////////////////////////////////////////////////////////////////////


            $('#calendar').fullCalendar({

                  header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'month,agendaWeek,agendaDay'
                  },
                defaultDate: '2017-11-01',
                defaultView: 'month',

                editable: true,
                navLinks: true,
                editable: true,
                eventLimit: true,


               });


        });

    </script>




</body>
</html>
