<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>web app</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>


    </style>
</head>



<body>





<div class="container">
  <div class="col-lg-4"></div>


  <div class="col-lg-4">
    <div class="jumbotron text-center" style="margin-top: 40%;">
      <h3>Login</h3>
        <form>
                <div class="form-group">

                <input type="text" class="form-control" placeholder="Username" name="uname" required>

                </div>

                <div class="form-group">

                  <input type="text" class="form-control" placeholder="Password" name="uname" required>

                </div>

                <div>
                <button type="submit" class="btn btn-primary form-control">sign in</button>
                </div>

                <div>
                                      <!-- <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button> -->
                <button id="login_register_btn" type="button" class="btn btn-link" style="float: right;">Register</button>
                </div>
        </form>

      </div>
  </div>

    <div class="col-lg-4"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <script type="text/javascript">



        $(document).ready(function(){

          $("#login_register_btn").click(function(){

            $.ajax({
              type: 'GET',
              url: '/register',
              success: function(data){
                //do something with the data via front-end framework
                //location.reload();
                //renderHtml(data);

                window.location.pathname="/register"
              }
            });

            return false;
          });


          // $("#login_register_btn").click(function(){
          //
          //
          //
          //
          // //  alert("1");
          //
          //   $.ajax({
          //     type: 'POST',
          //     url: '/register',
          //     data: 'register',
          //     success: function(data){
          //       //do something with the data via front-end framework
          //     //  location.reload();
          //     }
          //   });
          //
          //   return false;
          // });




        });

    </script>





</body>
</html>
