<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>web app</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">

    <style>

    body {
      background-repeat: no-repeat;
      background-size: 102% 176%;
      background-image: url('https://scstylecaster.files.wordpress.com/2014/09/road-trip.png');
   }
    </style>
</head>



<body>






    <div id="myModalRegister" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="registerTitle" class="modal-title">ERROR!!</h4>
                </div>
                <div class="modal-body">

                    <p id="registerSetText" class="text-warning"><small>Specify all fields</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>






<div class="container">
  <div class="col-lg-4"></div>


  <div class="col-lg-4">
    <div class="jumbotron text-center" style="margin-top: 40%;">

      <h3>Register</h3>

        <form>
                <div class="form-group">

                <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>

                </div>

                <div class="form-group">
                  <input type="password" class="form-control" id="password" placeholder="OTP" name="password" required>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" id="email" placeholder="Email" name="Email" required>
                </div>

                <!-- <div class="form-group">

                  <input type="text" class="form-control"  id="otp" placeholder="Enter OTP" name="otp" required>

                </div> -->

                <div>
                <button type="submit" id="register" class="btn btn-primary form-control">sign up</button>
                </div>

                  <div>
                    <button type="button"  id="generateotp" class="btn btn-link">Generate OTP</button>
                   <div>
                <!-- <div>
                                       <button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                <button id="login_register_btn" type="button" class="btn btn-link" style="float: right;">Register</button>
                </div>  -->


        </form>

      </div>






  </div>

    <div class="col-lg-4"></div>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">








    $(document).ready(function(){

    $("#register").click(function(){

      var username = $('#username').val();
      var password = $('#password').val();
      var email = $('#email').val();
      var obj = {username:username,password:password,email: email};

    //  alert("1");

    if(username=="" || password=="" )
    {
        $("#myModalRegister").modal('show');

        $('#registerSetText').text("Specify all fields");
        $('#registerTitle').text("Error");
    }
    else
    {
      $.ajax({
        type: 'POST',
        url: '/register_user_database',
        data: obj,
        success: function(data){
          //do something with the data via front-end framework
          //location.reload();

          $("#myModalRegister").modal('show');

          $('#registerSetText').text("Register is confirmed");
          $('#registerTitle').text("Success");


          console.log("saved ");
        }
      });
    }
      return false;

    });

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


///get password for emailid///////////////////



          $("#generateotp").click(function(){


            var email = $('#email').val();
            var obj = {email: email};

          //  alert("1");

          if(email=="")
          {
              $("#myModalRegister").modal('show');
          }
          else
          {
            $.ajax({
              type: 'POST',
              url: '/generate_otp',
              data: obj,
              success: function(data){
                //do something with the data via front-end framework
                //location.reload();

                $("#myModalRegister").modal('show');

                $('#registerSetText').text("OTP is sent to your register mail id");
                $('#registerTitle').text("Cheack Mail");


                console.log("saved ");
              }
            });
          }
            return false;

          });


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////










    });

    </script













</body>

</html>
