<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>web app</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.css">

    <style>

    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 120%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#map-canvas {
         height: 100%;
         width: 100%;
     }


     body {
       background-repeat: no-repeat;
       background-size: 102% 176%;
       background-image: url('https://scstylecaster.files.wordpress.com/2014/09/road-trip.png');
   }
   
    </style>
</head>



<body>

  <div id="myModalSearch" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Success!!</h4>
              </div>
              <div class="modal-body">

                  <p id="searchSetText"class="text-warning"><small>Request is sent</small></p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              </div>
          </div>
      </div>
  </div>



  <!-- modal for alert -->



<div class="container">

  <div class="col-lg-4" style="margin-top: 3%;margin-left: -13%;margin-right: 0%;">

    <button type="button" id="go_to_home" class="btn btn-primary btn-md" style="float: left;margin-left: 0%;margin-top: -3%;">Home</button>

    <div class="jumbotron text-center" style="margin-top: 10%;">
      <h3>Search Ride</h3>
        <form>

          <div class="form-group">

          <input type="text" class="form-control" id="source" placeholder="Source" name="Source" required>

          </div>

          <div class="form-group">

            <input type="text" class="form-control" id="destination" placeholder="Destination" name="Destination" required>

          </div>



            <div class="form-group">
                <div class='input-group date' id='datetimepicker6'>
                <input type='text' id="dateandtime" class="form-control" placeholder="Date - time"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>


            <div class="row" style="padding-bottom: 10%;">

              <button type="button" id="searchride" class="btn btn-primary btn-md">Search</button>
          </div>



        </form>

      </div>




  </div>


<div class="col-lg-4" id="tablelist" style="margin-top: 6%;margin-left: 3%;">

    <table id="ridelist">

       <thead>
      <tr>
          <th>Owner</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Request</th>
      </tr>
    </thead>
      <tbody>
      </tbody>



</table>


  </div>

  <div class="col-lg-4" style="margin-top: 6%;">

      <div style="width: 600px;margin-left: 30%;">
         <div id="map" style="width: 75%; height: 400px; float: left;"></div>
         <div id="panel" style="width: 300px; float: right;"></div>
     </div>


    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


  <script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU5hlJZ38czpViAMxzJQeD5RPIyhxWP0c&callback=initMap"
      type="text/javascript"></script>
    <script type="text/javascript">


    $(document).ready(function(){



      $('#datetimepicker6').datetimepicker();


      var response_search;

      $("#searchride").click(function(){

        var source = $('#source').val();
        var destination = $('#destination').val();
        var dateandtime = $('#dateandtime').val();

        var directionsService = new google.maps.DirectionsService();
        var directionsDisplay = new google.maps.DirectionsRenderer();

         var map = new google.maps.Map(document.getElementById('map'), {
           zoom:7,
           mapTypeId: google.maps.MapTypeId.ROADMAP
         });

         directionsDisplay.setMap(map);
        // directionsDisplay.setPanel(document.getElementById('panel'));

         var request = {
           origin: source,
           destination: destination,
           travelMode: google.maps.DirectionsTravelMode.DRIVING
         };

         directionsService.route(request, function(response, status) {
           if (status == google.maps.DirectionsStatus.OK) {
             directionsDisplay.setDirections(response);
           }
         });

        var obj = {source:source,destination:destination,dateandtime: dateandtime};

        $.ajax({
          type: 'POST',
          url: '/search_ride_database',
          data: obj,
          success: function(data){


            console.log(data);

            response_search=data;

            for(var i = 0 ;i<data.length;i++){
                var owner = data[i].name;
                var source = data[i].source;
                var destination = data[i].destination;

              //  var temp = "<tr><td>"+title+"</td><td>"+ingredients+"</td>"+"<td><img src=+"image+"></img></td>"+"</tr>"

              tData="<tr><td>"+owner+"</td><td>"+source+"</td><td>"+destination+"</td><td> <button id=\"send\" type=\"button\" class=\"btn btn-link\">send</button></td></tr>"
                //var tData = "<tr><td>"+title+"</td><td>"+ingredients+"</td></tr>"
                $("#ridelist").append(tData);
            }

            $('#ridelist').find('tr').click( function(){

              //alert('You clicked row '+ ($(this).index()+1) );

              var i= $(this).index()

              console.log(response_search[i].email);

              var owner_email = response_search[i].email;
            //  var user_email = "chennai@gmail.com";

              var user_email = localStorage.getItem("login_name");

              var obj = {name:user_email,owner_email:owner_email,user_email:user_email};

              response_search[i].requesteduser.push(obj);

              var req_obj = response_search[i];

              $.ajax({
                type: 'POST',
                url: '/request_ride_database',
                data: obj,
                success: function(data){
                  //do something with the data via front-end framework
                  //location.reload();

                  console.log("saved ");

                  $("#myModalSearch").modal('show');
                }
              });
              return false;
            });


          }
        });

        return false;
        //end of search ride
      });

////////////////////////////////////////////////////////////////////////////////////////////////

$("#go_to_home").click(function(){

  $.ajax({
    type: 'GET',
    url: '/home',
    success: function(data){
      //do something with the data via front-end framework
      //location.reload();
      //renderHtml(data);

      window.location.pathname="/home"
    }
  });

  return false;
});









    });

    </script>

</body>
</html>
